[submodule "lib/Calculus"]
	path = lib/Calculus
	url = git@gist.github.com:d742320cc163df5fb50ae5faea02ddbd.git
[submodule "lib/Convert"]
	path = lib/Convert
	url = git@gist.github.com:8dcb6f8db282c41bfc764f5ca7709375.git
[submodule "lib/Debug"]
	path = lib/Debug
	url = git@gist.github.com:2895b1725b36f185f3d67b7b0a30d763.git
[submodule "lib/Filters"]
	path = lib/Filters
	url = git@gist.github.com:1863f0ae2cf604fee2bb783c8ea84ffd.git
[submodule "lib/MatrixFunc"]
	path = lib/MatrixFunc
	url = git@gist.github.com:12a259cc0973908fdb406dd76378a952.git
[submodule "lib/Vec"]
	path = lib/Vec
	url = git@gist.github.com:43206b4338f60818a83eea510c47cd5b.git
